html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  overflow-x: hidden;

  background-color: $Violet;
  background-image: url("../../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  max-width: 296px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 38.2px;

  &_logo {
    width: 120px;
    height: auto;
  }
}

.main {
  margin-top: 69px;

  &_image {
    width: 296px;
    height: auto;
  }

  &_content {
    margin-top: 60px;
    text-align: center;

    &_heading {
      @include heading-font-bold;
      color: #fff;
      font-size: 24px;
      line-height: 36px;
    }

    &_paragraph {
      @include font-body;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 35px;
    }

    &_button {
      padding: 12px 75px;
      background-color: #fff;
      border: none;
      border-radius: 35px;
      color: $Violet;
      text-decoration: none;
      @include heading-font-normal;
      font-size: 12px;
    }
  }
}

// Visibility
// .hide-for-mobile {
//   @include breakpoint-down(medium) {
//     display: none;
//   }
// }

// .hide-for-desktop {
//   @include breakpoint-up(large) {
//     display: none;
//   }
// }
