// Heading font boldness
@mixin heading-font-bold {
  font-weight: $font-weight-bold;
  font-family: $font_family_primary;
}

// heading font normal
@mixin heading-font-normal {
  font-weight: $font-weight-normal;
  font-family: $font_family_secondary;
}

// Body Font
@mixin font-body {
  font-weight: $font-weight-normal;
  font-family: $font_family_secondary;
}

// Breakpoint
@mixin media($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
